<div id="common_categories">
	<div class="navbar_group_title">Categories:</div>
	<ul id="common_categories_list">
	[% FOREACH cat = [   'Pubs', 'Restaurants', 'Travel' ] %]
		<li class="common_category"><a class="common_category_link" href="[% catloc_link %]Category_[% cat %]">[% cat %]</a></li>
	[% END %]
	</ul>
</div>
