<h1><a href="[% home_link %]">[% site_name %]</a></h1>
<div id="summary">
  <div class="summary_bar_link">
    <a href="[% full_cgi_url %]?About_RGL">About RGL</a>
  </div> 
  <div class="summary_bar_link">
    <a href="[% full_cgi_url %]?Contact_RGL">Contact RGL</a>
  </div> 
</div>

