[% INCLUDE addons_header.tt %]

<h2>[% addon_title %]</h2>

<form action="[% self_url %]" method="get">
  <p>Restrict results to locale [% locale_box %]
     <small>(Locales not listed have no pubs with missing images.)
     </small>
  </p>
  <input type="submit" name="Search" value="Search" />
</form>

<p>Total count: [% lacking.size %] of [% all.size %].</p>

<ul>
  [% FOREACH lack = lacking %]
    <li><a href="[% lack.url %]">[% lack.name %]</a></li>
  [% END %]
</ul>

[% INCLUDE addons_footer.tt %]
