.title1	{
	color:purple;
	text-align:right;
	}
.title2	{
	color:purple;
	text-align:left;
	}
.cnt	{
	 position:absolute;
	left:50%;      
      top:50%;
	}
PRE 	{
	color:yellow;
	}
HR	{
	width:50%;
	
	}
.indent	{
	text-indent:5%;
	}
body 	{
	margin:10px 10px 10px 10px;
	background:black;
	color:white;
	font-family: lucinda, verdana, arial,sans-serif; text-decoration: none;
	padding:10px 10px;
	}
A	{ 
	color:  #bf0ef4;
	font-family: lucinda, verdana, arial, sans-serif; 
	text-decoration: none;
	}
A:visited       { color: #bf0ef4; text-decoration: none; }
A:link          { color: #bf0ef4; text-decoration: none; }
A:active        { color: #bf0ef4;  }
A:hover         { color: yellow;  }
#content	{
		margin-left: 20%;
		}
#tree	{
		text-align:left;
		width:20%;
		overflow: auto;
		}
.story	{
	}
A.tree:link	{ color:blue; }
A.tree:hover	{ color:blue; }
.pnorm		{
		background:black;
		color:white;
		font-family: lucinda, verdana, arial,sans-serif; text-decoration: none;
			}
# stuff for wiki
/****************************************************/
/* header tags */
/****************************************************/

/* the navbar at the top of the page */
.navbar {
  float: right;
  font-size: 90%;
  display: block;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: right;
#  background-color: #dddddd;
}

.navbar form {
  display: inline;
}

/* an item in the navbar */
.navbar_item {
  display: inline;
  padding: 6px;
}

/* the 'search' box in the navbar */
.navbar_search_form {
  display: inline;
}

/* the 'search' button in the navbar */
.navbar_search_button {
  display: inline;
}


/****************************************************/
/* content tags */
/****************************************************/

/* the main page contents (all except the navbar) are wrapped in this div */
.content {
  margin-left: 100px;
  margin-right: 100px;
}

/* all the page headings are h1s */
h1 {
  margin-left: -50px;
}


/* The warning for the edit_conflict page */
.warning_text {
}

/* from node_history - the show_current_revision link */
.menu {
}

/* from show_all_nodes, each displayed node is in this class of div */
.node {
}


/****************************************************/
/* footer tags */
/****************************************************/

/* actions for this page, displayed in the footer */
.page_actions {
  font-size: 90%;
  display: block;
  margin: 0px;
  padding: 10px;
  text-align: right;
}

/* an item in the page_actions list at the bottom of the page */
.page_actions_item {
  display: inline;
  padding: 6px;
}

/* credits for the wiki, used from the footer */
.credits {
  font-size: 80%;
  text-align: right;
  border-top: 1px solid black;
#  background-color: #dddddd;
  padding-bottom: 15px;
}

