<html>
  <head>
    <title>Wiki Login</title>
    <link rel="stylesheet" href="${zimki.root}/edit.css"></link>
  </head>
  <body>
    <h1>Login to your Blog</h1>
    <form name="login" action="login" method="post">
     <label for="form_username">Username:</label>
     <input type="text" id="form_username" name="username"><br/>
     <label for="form_password">Password:</label>
     <input type="password" id="form_password" name="password"><br/>
     <br/>
     <input type="submit" value="Login">
    </form>
  </body>
</html>