html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 1em;
  background-color: #c0c0c0;
  color: #000000;
  font-family: calibri, sans-serif;
}

h1.page_header {
  text-transform: uppercase;
}

div#navbar {
  float: left;
  width: 10%;
  margin-left: -1.5em;
  padding-right: 1.5em;
  white-space: nowrap;
}

div#navbar ul {
  list-style: none;
}

div#navbar ul#internal_links li#home_link {
  padding-bottom: 1em;
}

div#navbar ul#internal_links li#postal_district_link {
  padding-left: 1em;
}

div#main_content {
  float: right;
  width: 90%;
}

div#map_canvas {
  float: right;
  width: 75%;
  height: 100%;
}

div#pub_list {
  float: left;
  max-width: 20%;
  height: 100%;
}

div#pub_list ul {
  height: 400px;
  overflow: auto;
}

div#pub_photo {
  float:right;
  padding-right:1em;
}

div#pub_info {
  float: left;
}

div.pub_info_with_photo {
  max-width: 45%;
}

div#pub_info table {
  text-align: left;
  font-family: helvetica, arial, sans-serif;
}

div#pub_info table th, td {
  padding: 0.5em;
  vertical-align: top;
}

div#pub_info table th {
  width: 6em;
}

div#pub_info table td ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

tr.pub_last_updated {
  font-size: 0.8em;
  font-style: italic;
}

img {
  border: thin solid black;
}

ul.upload_form_type_selection {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.upload_error {
  color: #000000;
  background-color: #ff0000;
  border: 0.2em solid black;
  padding: 1em;
}

#map_canvas {
  height: 100%;
}
