<div id="sidebar">
Menu
<ul>
<li><a href="http://randomness.org.uk/">website</a>
<li><a href="http://tech.randomness.org.uk">tech</a>
<li><a href="http://randomness.org.uk/wiki/">wiki</a>
<li><a href="http://flickr.com/photos/rjw1/">flickr</a>
<li><a href="http://del.icio.us/rjw1">del.icio.us</a>
<li><a href="http://rjw1.livejournal.com/">lj</a>
<li><a href="http://randomness.org.uk/bob.opml">opml</a>
<li><a href="http://tech.randomness.org.uk/feed">feed</a>
<li><a href="http://london.randomness.org.uk">Randomness Guide to London</a>



</ul>
</div>
