body { 
	background: #f3f3f3;
	color: #000;
	margin: 0px;
	font-family: Verdana, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, sans-serif;
}
body input {
	font-size: 0.8em
}
img { 
	border: none
}
.floatbox_left {
	background: #ffffff;
	border: 1px dashed gray;
	width: 180px;
	padding: 10px;
	margin: 5px;
	clear: left;
	float: left;
}
.floatbox {
	background: #ffffff;
	border: 1px dashed gray;
	width: 180px;
	padding: 10px;
	margin: 5px;
	float: left;
}
#hometext {
	float: left;
}
a:link { 
	background: transparent;
	color: #3d5404;
}
a:visited {
	background: transparent;
	color: #500
}
a:hover {
	background: transparent;
	color: #005
}
abbr {
	border-bottom: 1px dotted #000
}
acronym {
	border-bottom: 1px dotted #000
}
.n {
	border: 0px
}
#banner {
	border: 0px;
	padding: 0px;
	height: 81px;
	background-color: #999;
	color: #fff;
}
#content {
	padding: 1em
}
#maincontent {
	float: left;
	width: 75%;
}

#rdf_link {
	margin-top: 20px;
	background-color: #ccc;
}

div#navbar {
	float: right;
	width: 20%;
	margin: 10px;
	padding: 5px 10px 5px 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
	font-size: 0.8em
}
div.navbar_site_name {
	display: none;
}
.navbar_group {
	margin: 1em 0em 1em 0em;
}
.navbar_group_title {
	font-weight: bold;
}
#recent {
	background: #eee;
	color: #000;
	padding: 1em;
	border: 1px dashed #666;
	width: 250px;
	margin: 10px;
	font-size: 0.8em
}

#recent dt {
	font-weight: bold
}

#footer {
	border-top: 1px solid #999;
	padding-top: 1em;
	font-size: 0.8em
}

.right {
	float: right
}

blockquote.fpq {
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
	padding: 5px;
	border: 1px dotted #000;
	background: #ddd;
	color: #000
}	

input.form_button {
	font-size: 0.9em;
	font-weight: bold;
	background-color: #ffcc00;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px
}

textarea {
	padding: 0px;
}

span.diff1 {
        background-color: yellow;
}

span.diff2 {
        background-color: pink;
}

td.linebelow {
	border-bottom: 1px solid black
}

td.lineabove {
	border-top: 1px solid black
}

td.lineboth {
	border-top: 1px solid black;
	border-bottom: 1px solid black
}

a.home_link:link, a.home_link:visited, a.home_link:hover {
	background-color: transparent;
	color: #fff
}

#metadata {
}

.new {
	color: #f00;
	background-color: transparent
}

.license_warning {
	padding: 1em 10% 1em 10%;
	color: #f00;
	background-color: transparent;
	font-size: small;
	border: 1px solid #f00
}

legend {
	font-weight: bold
}
.hidden {
	display: none
}
.redb {
	color: #fc5900;
	font-style: bold;
}

/* Edit form stuff */
/* Edit page actions */
div.edit_form_actions {
  text-align: center;
}

div.preview_edit {
  float: left;
  width: 33%;
}
div.cancel_edit {
  float: left;
  width: 33%;
}
div.commit_edit {
  float: right;
  width: 33%;
}

/* Edit page global stuff */

h1.edit_form_title {
  text-align: center;
  font-size: 1.5em;
}

form.edit_page_form fieldset {
  margin: 1em;
}

fieldset legend {
  font-size: 0.9em;
}

div.edit_form_group {
  position: relative;
}

div.edit_form_group label {
  font-size: 0.8em;
  font-weight: bold;
}

div.edit_box textarea, input, select {
  border: 1px solid #000000;
}

div.edit_box textarea {
  width: 98%;
  padding: 0.2em;
  margin-bottom: 1em;
}

div.edit_box input {
  width: 98%;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* Edit page username etc */

fieldset#openguides_information {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

/* Edit page main information */

fieldset#main_information {
  clear: both;
}

div#locales_group {
  float: left;
  width: 45%;
}

div#categories_group {
  float: right;
  width: 45%;
}

div#summary_group {
  clear: both;
}

/* Labels on the left, fields on the right. */

fieldset#additional_information label {
  display: block;
  width: 20%;
  float: left;
}

fieldset#additional_information div.edit_box {
  width: 75%;
  float: right;
}

fieldset#additional_information div.edit_form_group {
  clear: both;
}

/* Edit page image stuff */
span.photo_note {
  font-size: 0.8em;
}

/* Edit page username etc */
fieldset#openguides_information {
  clear: both;
  display: table;
}

fieldset#openguides_information div.edit_form_group {
  display: table-cell;
  padding: 0.5em;
  vertical-align: bottom;
}

div#username_group {
  width: 20%;
}

div#username_group label a {
  white-space: nowrap;
}

div#edit_type_group {
  width: 15%;
}

