<!DOCTYPE html>
<html>

<head>
  <title>[% IF subtitle %][% subtitle %]: [% END %]London Pubology</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="[% base_url %]stylesheets/pubology.css" type="text/css" />
  [% IF do_map OR is_admin_page %]
    <script type="text/javascript" 
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> 
    </script>
  [% END %]
  [% IF do_map %]
    <script type="text/javascript"
     src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;region=GB">
    </script>
    <script type="text/javascript"
            src="http://www.pubology.co.uk/js/map.js"></script>
  [% END %]
  [% IF is_admin_page %]
    <script type="text/javascript"
            src="http://www.pubology.co.uk/js/admin.js"></script>
  [% END %]
</head>

<body>

<div id="body_wrapper">

  <div id="banner">
    <h1 class="page_header"><a href="[% base_url %]">London Pubology</a></h1>
  </div>

  [% INCLUDE navbar.tt %]

  <div id="main_content">

    [% IF subtitle %]
      <h2[% IF subtitle_class %] class="[% subtitle_class %]"[% END %]>[% subtitle %]</h2>
    [% END %]
