<!DOCTYPE html>
<html>

<head>
  <title>[% IF subtitle %][% subtitle %]: [% END %]London Pubology</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/stylesheets/pubology.css" type="text/css" />
  [% IF do_map %]
    <script type="text/javascript"
     src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;region=GB">
    </script>
  [% END %]
  <script src="http://www.pubology.co.uk/js/functions.js"
          type="text/javascript"></script>
</head>

[% IF do_map %]
  <body onload="initialise( [% centre_lat %], [% centre_long %] ); add_markers()">
[% ELSE %]
  <body>
[% END %]

<div id="body_wrapper">

  <div id="banner">
    <h1 class="page_header">London Pubology</h1>
  </div>

  [% INCLUDE navbar.tt %]

  <div id="main_content">

    [% IF subtitle %]
      <h2[% IF subtitle_class %] class="[% subtitle_class %]"[% END %]>[% subtitle %]</h2>
    [% END %]
