<!DOCTYPE html>
<html>

[% USE CGI %]

<head>
  <title>[% postal_district | html %] &#8212; Pubology map</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" href="http://the.earth.li/~kake/tmp/ewan/styles.css" 
   type="text/css" />

  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 1em }
    #map_canvas { height: 100% }
  </style>

  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?sensor=false&region=GB">
  </script>

  <script src="http://www.pubology.co.uk/js/functions.js"
          type="text/javascript"></script>

</head>

<body onload="initialise( [% centre_lat %], [% centre_long %] ); add_markers()">
  <h1 class="page_header">Pubology map</h1>
  <h2>[% postal_district | html %]</h1>

  <p>Last updated: [% updated | html %]</p>
  <p><a href="../indexes/[% area_file | html %].html">Back to [% area_name | html %] index</a>.</p>
  <p><a href="../index.html">Back to main index</a>.</p>
  <p>green = open, yellow = closed, red = demolished</p>

  <div id="map_canvas" style="width:75%; height:100%; float:left"></div>

  <div id="pub_list" style="max-width:20%; height:100%; float:right">
    <ul style="height:400px; overflow:auto">
      [% i = 0 %]
      [% FOREACH pub = pubs %]
        [% i = i + 1 %]
        <li>
          [% IF pub.not_on_map %]
            [% CGI.escapeHTML( pub.name ) %] (not on map &#8212;
            <a href="[% base_url %]pubs/[% pub.id %].html">view pub info</a>)
          [% ELSE %]
            <a href="#" onclick="infowindow.setContent( content[[% i %]] ); infowindow.open( map, markers[[% i %]] ); map.panTo( markers[[% i %]].getPosition() ); return false;">[% CGI.escapeHTML( pub.name ) %]</a>
          [% END %]
        </li>
      [% END %]
    </ul>
  </div>

  <script type="text/javascript">
    function add_markers() {
      [% i = 0 %]
      [% FOREACH pub = pubs %]
        [% i = i + 1 %]
        var pub = {
          not_on_map : [% pub.not_on_map %],
          lat : [% pub.lat %],
          long : [% pub.long %],
          name : "[% CGI.escapeHTML( pub.name ) %]",
          address : "[% CGI.escapeHTML( pub.address ) %]",
          demolished: [% pub.demolished %],
          closed: [% pub.closed %],
          id: [% pub.id %]
        };
        add_marker( [% i %], pub );
      [% END %]
    }
  </script>

</body>
</html>
